
{% extends "main/footer.html" %}

{% block content %}
<body>
<div class="container text-center">
    <h2>Hi</h2>
    <br>
    <form action="{% url 'linked-password' %}">
        Length
        <select name="length">
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option selected="selected" value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
        </select>
        <br>
        <input name="upper_case" type="checkbox">Upper Case
        <br>
        <input name="number_case" type="checkbox">Number
        <br>
        <input name="special_char" type="checkbox">Special Charcter
        <br>
        <input class="btn btn-primary" type="submit" value="Generate password">
    </form>
    <br>
    <h3>Users list</h3>
    {% for visitor in visitors%}
        {{ visitor.email }}<br>
        {{ visitor.img }}<br>
        <img src="{{ visitor.img }}" height="40" width="20"/>
    {% endfor %}
    <hr>
    Go to <a href="{% url 'blog:Home_blog' %}">Blog</a>
</div>
</body>
{% endblock %}